.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  margin-bottom: 0px;
}

mat-card {
  padding: 0px;

  margin-bottom: 15px;
  width: 100%;
}
mat-card-content {
  padding: 15px;
}

mat-card-footer {
    padding: 0px 0px 5px 5px;

}
