@import '@material/theme/mixins';

.sidenav-container {
  height: 100%;
}
[mdcButton] {
  // margin-bottom: 0px;
  // margin-top: 10px;
  text-align: start;

}
.sidenav {
  width: 200px;
  overflow: hidden;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

mat-subheader {
  font-size: 22px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-drawer-inner-container  {
  overflow: hidden !important;
}

h2 {
  padding: 5px;
  margin: 0;
}

.selected {
  color: #673ab7;
}

.menu-header {
  background-color: #673ab7 !important;
}

mat-sidenav-content {
  background-color: #fff !important;

}

mat-sidenav {

}
.fit-menu  {
  overflow: hidden;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0;
}

.link-button {
  width: 100%;
}
::ng-deep .mat-list-item-content {
  width:100% !important;

}
