/* You can add global styles to this file, and also import other style files */
// customize some theme variables, e.g.:
$mdc-theme-primary: #6200ee;
$mdc-theme-secondary: #018786;
$mdc-theme-background: #fff;

// import theming for all mdc components:
@import "material-components-web/material-components-web";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.5em ;
}
h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f5f7;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #401d5a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65758f;
}
